<div>
  <app-epidemic-counter
    (epidemicDrawn)="onEpidemicDrawn($event)"
  ></app-epidemic-counter>
</div>
<br />
<div class="row">
  <app-cities-list
    class="col-2"
    (cardDrawn)="onCardDrawn($event)"
    [citiesList]="citiesT0"
    [turn]="0"
  >
  </app-cities-list>
  <app-cities-list
    class="col-2"
    (cardDrawn)="onCardDrawn($event)"
    [citiesList]="citiesT1"
    [turn]="1"
  >
  </app-cities-list>
  <app-cities-list
    class="col-2"
    (cardDrawn)="onCardDrawn($event)"
    [citiesList]="citiesT2"
    [turn]="2"
  >
  </app-cities-list>
  <app-cities-list
    class="col-2"
    (cardDrawn)="onCardDrawn($event)"
    [citiesList]="citiesT3"
    [turn]="3"
  >
  </app-cities-list>
  <app-cities-list
    class="col-2"
    (cardDrawn)="onCardDrawn($event)"
    [citiesList]="citiesT4"
    [turn]="4"
  >
  </app-cities-list>
  <app-cities-list
    class="col-2"
    (cardDrawn)="onCardDrawn($event)"
    [citiesList]="citiesT5"
    [turn]="5"
  >
  </app-cities-list>
</div>
